<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dbName" value="nodesBase.db"/>
    <add key="selectcommand" value="select _id, datetime(timestamp/1000,'unixepoch','localtime'),
         id,name,type,frequency,CAPABILITIES,latitude,longitude 
         from nodes"/>
    <add key="dataSeparator" value="|"/>
    <add key="AddColumNames" value="false"/>
  </appSettings>
</configuration>